<app-header></app-header>
<br>
<div style="display: flex;">

    <app-tarjeta
        img="https://falabella.scene7.com/is/image/FalabellaCO/gsc_117605478_1822554_2?wid=240&hei=240&qlt=70&fmt=webp"
        title=" Moto Eléctrica  Niños Triciclo Trimoto Tipo Harley " text="Falabella" preciorebaja="$181.000"
        precioventa="$481.000">
    </app-tarjeta>

    <app-tarjeta
        img="https://falabella.scene7.com/is/image/FalabellaCO/gsc_123949645_3792597_1?wid=1500&hei=1500&qlt=70"
        title=" Paw patrol pista grande version dog parking"
         text="Multiplace "
         preciorebaja="$127.900"
        precioventa="$189.000">
    </app-tarjeta>
    <app-tarjeta
        img="https://falabella.scene7.com/is/image/FalabellaCO/gsc_123949725_3792618_1?wid=1500&hei=1500&qlt=70"
        title=" Paw patrol colección de carros de impulso " 
        text="Multiplace" 
        preciorebaja="$72.900"
        precioventa="$120.000">
    </app-tarjeta>
    <app-tarjeta
        img="https://falabella.scene7.com/is/image/FalabellaCO/gsc_117605478_1822554_2?wid=240&hei=240&qlt=70&fmt=webp"
        title=" Carro Electrico Offroad Blanco Recargable 12V "
         text="Falabella" 
         preciorebaja="$527.000"
        precioventa="$1.037263">
    </app-tarjeta>
 
  









</div>

<router-outlet></router-outlet>